version: '3.8'

services:
  postgres:
    image: postgres
    ports: 
      - 5432:5432
    environment:
       POSTGRES_PASSWORD: postgres
       POSTGRES_USER: postgres
       POSTGRES_DB: pizzastore
    volumes:
      - db-data:/var/lib/postgresql/data
  server:
    build: ./backend 
    ports:
      - 8080:8080
    depends_on:
      - postgres
  app:
    depends_on:
      - server
    build: ./pizza-app 
    ports:
      - 3000:3000
    image: pizza:store
    container_name: react_container
    command: npm start
volumes:
  db-data:  

  

